<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">


<div id="back-header-img">
	<h1><%= @cowork.name %></h1>	
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div id="cowork-characteristics"><%= @cowork.characteristics.html_safe %></div>

			<div id="cowork-logo">
				<img src="https://sharedesk.net/api/httpdocs/media/users/profile/f8/c1/f2//f8c1f23d6a8d8d7904fc0ea8e066b3bb-large.png">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">	
			<div class="info-box">
				<div>
					<strong>Details: </strong>
				</div>
					
				<a class="expander" href="">Read More!</a>
					
				<div class="content">
					<%= @cowork.description.html_safe %>
				</div>
			</div>	
		</div>

		<div class="col-md-6">
			<div class="info-box">
				<div>
					<strong>Gallery: </strong>
				</div>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col-md-6">
			<div class="info-box" style="padding-top: 30px;">
				<div>
					<strong>Services: </strong>
				</div>
				<div><%= @cowork.services.html_safe %></div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="info-box" style="padding-top: 30px;">
				<div>
					<strong>Companies: </strong>
				</div>	
				<div><%= @cowork.companies.html_safe %></div>
			</div>		
		</div>
	</div>

	
  <% if user_signed_in? %>
    	<div class="row">
		<div class="col-md-12">
			<div class="workers">
				<h1>People that work in <%= @cowork.name %></h1>
			</div>

			<div id="filter-errors">
				
			</div>

			<div class="filter-form">
				<form action="/users-data" id="filter-form-tag">	
					<input type="text" placeholder="Name:" name="Name" class="filter-input" id="name-filter-input" required></input>
		  				<select name="Job" id="select-tag" required>
			  				<% @jobs.each do |job| %>
							    <option> <%= job %> </option>
							<% end %>
						</select>
				<button type="submit" class="btn btn-success" id="filter-search">Search!</button>		
				</form>		
			</div>

		</div>
	</div>

	  <!-- Modal -->
	<div class="modal fade js-modal" id="myModal">
	  <div class="modal-dialog">
	    <div class="modal-content">

	      <div class="modal-header">
	        <!-- Close button -->
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span>&times;</span>
	        </button>

	        <h2 id="worker-info"></h2>

	        <div>
	        	<p id="worker-job"></p>
	        	<p id="worker-email"></p>
	        </div>
	        	
	      </div>

	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<div class="row">
		<div class="col-md-12">
			<div id="filter-results">
				
			</div>
		</div>
	</div>
  <% else %>
  
  <% end %>



	
	<div class="row">
		<div class="footer">	
			<div class="col-md-5">
					<img src="/assets/Logo Chameleon Vectorizado.png" width="254" height="56" class="footer-logo">
						
					<p class="copyright">2015 | All Rights Reserved to <a href="http://chameleonstudios.es/">Chameleon Studios</a></p>
			</div>		
			<div class="col-md-7">
					<a href="https://www.facebook.com/chameleonstudiosbilbao?fref=ts" class="social-icons">
					<img src="/assets/flat-icon-facebook-150x15.jpg" border="0" onmouseover="this.src='http://6znr8g7i2u1e6urycg61i18w.wpengine.netdna-cdn.com/wp-content/uploads/2013/12/flat-icon-facebook-150x150.png'" onmouseout="this.src='/assets/flat-icon-facebook-150x15.jpg'", width="40" height="40" class="social-icons" /></a>
			</div>	
		</div>	
	</div>	
</div>