<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>



<div id="back-header-img">
	<h1><%= @cowork.name %></h1>	
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div id="back-to-search">
				<a href="/coworks" class="back-link hideBack"> < Back to Search</a>
				<% if user_signed_in? %>
				<a href="/" class="back-link"> < Back to Search</a>
					<script type="text/javascript">
					$('.hideBack').toggle();
					</script>
				<% end %>	
			</div>

			<div id="cowork-characteristics"><%= @cowork.characteristics.html_safe %></div>

			<div id="cowork-logo">
				<img src="/assets/coworking_circle2.jpg">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">	
			<div class="info-box">
				<div>
					<strong>Details: </strong>
				</div>
					
				<div>
					<%= @cowork.description.html_safe %>
				</div>
			</div>	
		</div>

		<div class="col-md-6">
			<div class="info-box">
				<div>
					<strong>Gallery: </strong>
					<div id="gallery">
						
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col-md-6">
			<div class="info-box">
				<div>
					<strong>Services: </strong>
				</div>
				<div><%= @cowork.services.html_safe %></div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="info-box">
				<div>
					<strong>Companies: </strong>
				</div>	
				<div><%= @cowork.companies.html_safe %></div>
			</div>		
		</div>
	</div>

	
  <% if user_signed_in? %>
    	<div class="row">
		<div class="col-md-12">
			<div class="workers">
				<h1>People that work in <%= @cowork.name %></h1>
			</div>

			<div id="filter-errors">
				
			</div>

			<div class="filter-form">
				<form action="/users-data" id="filter-form-tag">	
					<input type="text" placeholder="Name:" name="Name" class="filter-input" id="name-filter-input" required></input>
		  				<select name="Job" id="select-tag" required>
			  				<% @jobs.each do |job| %>
							    <option> <%= job %> </option>
							<% end %>
						</select>
				<button type="submit" class="btn btn-success" id="filter-search">Search!</button>		
				</form>		
			</div>

		</div>
	</div>

	  <!-- Modal -->
	<div class="modal fade js-modal" id="myModal">
	  <div class="modal-dialog">
	    <div class="modal-content">

	      <div class="modal-header">
	        <!-- Close button -->
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span>&times;</span>
	        </button>
			<div id="modal-info">
	        	<h2 id="worker-info"></h2>
	        
	        	<p id="worker-job"></p>
	        	<p id="worker-email"></p>
	        </div>
	        	
	      </div>

	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<div class="row">
		<div class="col-md-12">
			<div class="filter-results">
				
			</div>
			<div class="filter-results-2">
				
			</div>			
		</div>
	</div>
  <% else %>
  
  <% end %>



	
	<div class="row">
	    <div class="footer">  
	    	
	    	<div class="col-md-5">
	          <img src="/assets/Logo Chameleon Vectorizado.png" width="254" height="56" class="footer-logo">
	            
	          <p class="copyright">2015 | All Rights Reserved to <a href="http://chameleonstudios.es/">Chameleon Studios</a></p>
	      	</div>    
	      	
	      	<div class="col-md-7">
	        	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">

	          	<div id="social-icons">
	            	<a href="https://www.facebook.com/chameleonstudiosbilbao?fref=ts">
	              	<div class="icon facebook">&#xf09a;</div>
	            	</a>

	            	<a href="https://twitter.com/ASagarduy">
	              	<div class="icon twitter">&#xf099;</div>
	            	</a>

	            	<a href="https://es.linkedin.com/in/andersagarduy"> 
	              	<div class="icon linkedin">&#xf0e1;</div>
	            	</a>
	          	</div>	

	          	<div id="contact">
	            	<p class="contact-info"><strong><h4>Contact Us:</h4></strong></p>
	            
	           		<div class="contact-info">
	              		<img src="http://westhigh64.com/wp-content/uploads/2014/02/geo_icon.png">
	              		<p class="contact-info">C/ Uribitarte, 6 ·48001 Bilbao (Spain)</p>
	            	</div>

		            <div class="contact-info">
		            	<img src="https://cdn2.iconfinder.com/data/icons/ios-7-style-metro-ui-icons/512/MetroUI_Phone.png">
		              	<p>+34 695 758 455</p>
		            </div>
	          	</div>
	      	</div>  
	    </div>  
	</div>  
</div>